
body:not(.is-home) #center-top {
    padding: var(--padding-size) !important;
    width: calc(100%);
    top: calc(-80px - (var(--padding-size) * 2)) !important;
    left: calc(-1 * var(--padding-size)) !important;
    position: absolute !important;
    height: 40px;
    margin: 0 !important;
    @extend %fg_elm;

    .page-title a {
        background-image: none !important;
    }
}

#center>div {
    padding-bottom: 0 !important;
}

#important-post {
    position: relative !important;
    display: block !important;
}

.content-top-upper {
//     display: none !important;
    background-color: #00000000 !important;
    border: none !important;
}
