@import "./fontawesome/scss/fontawesome.scss";

@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";

:root {
    --background: #efefef;
    --sgy-background-color-default: var(--background) !important;

    --fg1: #ffffff;
    --fg2: #aaaaaa;
    --fg3: #bbbbbb;
    // --button: #cfcfcf;
    --text: black;
    --defaultFontSize: 12px;
    --button-active: #8c0305;
    --button-active-color: white;

    --padding-size: 20px;
}

%fg_elm {
    @extend %shadow;

    border: none !important;
    background: var(--fg1) !important;
}

%shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

%hoverable {
    transition: 0.2s;
}

%hoverable:hover {
    transform: scale(1.05, 1.05) !important;
    @extend %shadow;
    z-index: 2 !important;
}

%color_border {
    border: 2px solid var(--button-active) !important;
}

%button {
    position: relative !important;
    margin: 5px !important;
    padding: 5px !important;

    background: var(--fg1) !important;

    color: var(--text) !important;
    text-align: center !important;
    font-size: var(--defaultFontSize) !important;
    border: none !important;
    display: inline-block;
    transition: 0.2s;
    cursor: pointer;
    font-weight: normal !important;

    a,
    span,
    b,
    p {
        color: var(--text) !important;
        text-align: center !important;
        font-size: var(--defaultFontSize);
    }

    @extend %hoverable
}

%button.form-submit {
    background-color: var(--button-active) !important;
    color: var(--button-active-color) !important;
}

%fg_elm>%button {
    background-color: var(--fg2) !important;
}


%button.active {
    background-color: var(--button-active) !important;
    color: var(--button-active-color) !important;

    a {
        color: var(--button-active-color) !important;
    }
}



.sgy-tabbed-navigation>li,
#taught-courses-switcher,
.cancel-btn,
.form-submit,
.notification-settings-wrapper {
    @extend %button;
}

.submit-span-wrapper {
    background-color: #00000000 !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#taught-courses-switcher,
.notification-settings-wrapper {
    min-width: 105px;

    >a.ui-selectmenu,
    >a.notification-settings {
        opacity: 0;
        position: absolute;
        background-color: red;
        width: calc(100% + 0px) !important;
        height: 20px !important;
        left: 0px;
        top: 0px;
        padding: 0 !important;
        margin: 0 !important;
    }
}

#taught-courses-switcher::before {
    content: "Switch Class";
}

.notification-settings-wrapper::before {
    content: "Notifications";
}

// .notification-settings-wrapper>a>span {
//     display: none;
// }

#header>header>nav {
    margin-left: 0;
}

a[data-sgy-sitenav="header-logo"] {
    /* position: absolute; */
    left: 0;
    background-position: left center !important;
}


.theme-2016-layout #main,
.theme-2016-layout #right-column-inner>div:not(:empty),
.theme-2016-layout #sidebar-left .active-trail a,
.s-enable-course-dashboard.theme-2016-layout #home-feed-container,
.sgy-card,
.sgy-tabbed-navigation {
    @extend %shadow;
}

div#right-column {
    margin-top: 0 !important;
}

.sgy-tabbed-navigation {
    position: absolute;
    height: 200px !important;
    left: 0 !important;
    transform: translate(calc(-100% - var(--padding-size)), 0);
    /* background-color: green !important; */
    border: none !important;
    width: fit-content !important;
    padding-top: 0 !important;
    background-color: white;
    max-width: 100px;
}

.sgy-tabbed-navigation li {
    float: none !important;
    display: block;
}

.sgy-tabbed-navigation li.active {
    border: none !important;
}

.course-dashboard,
.course-dashboard__inner {
    padding-top: 0 !important;
}

.course-dashboard__inner>div>ul>li {
    width: 100%;
    height: 60px;
    margin-bottom: 10px !important;
}

.course-dashboard__inner>div>ul>li>section {
    border: none !important;
}

section.sgy-card {
    @extend %hoverable;
}

.course-dashboard__inner>div>ul>li>section>div.sgy-card-lens {
    height: 60px !important;
    width: 60px !important;
    overflow: hidden !important;
    cursor: pointer !important;

    .course-dashboard__administrators {
        display: none !important;
    }
}

.course-dashboard__inner>div>ul>li>section>div.sgy-card-lens::after {
    display: none !important;
}

.course-dashboard__inner>div>ul>li>section>div.sgy-card-context {
    position: relative;
    top: calc(-60px + 4px);
    left: 64px;
    height: 40px;
}

.course-dashboard__inner>div>ul>li>section>div.sgy-card-lens>img,
.course-dashboard__inner>div>ul>li>section>div.sgy-card-lens>object {
    height: 100% !important;
    width: unset !important;
    left: 50%;
    top: 0;
    position: absolute;
    transform: translate(-50%, 0%);

}

.link-wrapper,
.app-link-wrapper {
    >a {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        margin-right: 1px !important;
    }

    >a.active {
        @extend %color_border;
        border-right: none !important;
    }
}

#main-inner {
    padding: 0 calc(var(--padding-size) / 2) 0 !important;
}

#right-column-inner {
    padding: 0 calc(var(--padding-size) / 2) 0 !important;
}

#sidebar-left {
    // margin-top: var(--padding-size) !important;
    position: sticky !important;
    left: 0 !important;
    top: var(--padding-size);
    transform: translate(calc(-2 * var(--padding-size)), 0);
    padding-left: var(--padding-size);
    // border-top-left-radius: 0 !important;
    // border-bottom-left-radius: 0 !important;

    @extend %fg_elm;
}

#container {
    margin-top: var(--padding-size) !important;
}

body:not(.is-home) #main-content-wrapper {
    @extend %fg_elm;
    position: relative !important;
    top: calc(80px + var(--padding-size)) !important;
    padding: var(--padding-size) !important;
    height: fit-content;
    margin-bottom: 80px !important;

    // margin-top: var(--padding-size) !important;
}

body:not(.is-home) #center-top {
    padding: var(--padding-size) !important;
    width: calc(100%);
    top: calc(-80px - (var(--padding-size) * 2)) !important;
    left: calc(-1 * var(--padding-size)) !important;
    position: absolute !important;
    height: 40px;
    margin: 0 !important;
    @extend %fg_elm;

    .page-title a {
        background-image: none !important;
    }
}

#center>div {
    padding-bottom: 0 !important;
}

#site-navigation-footer {
    display: none;
}

#important-post {
    position: relative !important;
    display: block !important;
}

%popup {
    border: 2px solid black !important;
    z-index: 300 !important;
    // position: relative !important;
}

.ui-selectmenu-open,
.action-links,
.inline-popup-wrapper,
.course-materials-dropdown {
    @extend %popup;
}

.content-top-upper {
    display: none !important;
}

#site-navigation-breadcrumbs,
#site-navigation-breadcrumbs div {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    background-color: var(--button-active);
}